{% extends 'base.html' %}
{% block content %}
<div class = 'container'>
    <br><br>
    <div class='row'>
        <div class='col-lg-6'>
            <form method = 'POST'>
                {% csrf_token %}
                <div class="form-group">
                    <label for = 'nickname'>你的名字（昵称）:</label>
                    <input id = 'nickname' name = 'nickname' type = 'text' required class='rounded'>
                    <br>
                    <label for = 'comment'>留言:</label>
                    <textarea class="form-control" id = 'comment' name = 'comment' rows = '8' required></textarea>
                    <br>
                    <button type = 'submit' class = 'btn btn-primary'>提交</button>
                    {% if send %}
                    <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>成功!</strong> 感谢你的留言🙏
                    </div>
                    {% endif %}
                    {% if repeat %}
                    <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    谢谢 请勿<strong>重复</strong>提交🙏
                    </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}